<body ng-controller="HomeController">
  <section id="new-employee-form-section">
    <h2>Add New Employee</h2>
    <form id="new-employee=form">
      <label>Employee ID<input ng-model="home.newEmployeeObject.employee_id" type="number" placeholder="Employee ID" />{{newEmployeeObject.employee_id}}</Label>
      <label>Employee First Name<input ng-model="home.newEmployeeObject.first_name" type="text" placeholder="Employee First Name" /></Label>
      <label>Employee Last Name<input ng-model="home.newEmployeeObject.last_name" type="text" placeholder="Employee Last Name" /></Label>
      <label>Employee Title<input ng-model="home.newEmployeeObject.title" type="text" placeholder="Employee Title" /></Label>
      <label>Employee Annual Salary<input  ng-model="home.newEmployeeObject.annual_salary" type="number" placeholder="Employee Annual Salary" /></Label>
      <button ng-click="home.addNewEmployee()">Submit</button>
    </form>

  </section>

  <section id="employee-list">
    <h2>Employee List</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Employee ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Title</th>
        <th>Annual Salary</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='employee in home.employeeList.list'>
        <td>{{employee.employee_id}}</td>
        <td>{{employee.first_name}}</td>
        <td>{{employee.last_name}}</td>
        <td>{{employee.title}}</td>
        <td>{{employee.annual_salary}}</td>
      </tr>
    </tbody>
  </table>

</body>
